{% extends 'base.html.twig' %}

{% block title %}New FicheFrais{% endblock %}

{% block body %}
    <h2>Frais du mois en cours: {{ moisFrais | date('Y-m') }}</h2>
    <div class="mt-5">
        <h6>Creation des ligne frais forfaitisés</h6>
        {{ include('fiche_frais/_form_LigneFrais.html.twig') }}
    </div>
    <div class="mt-5">
        <h6>Creation des ligne frais hors forfaitisés</h6>
        {{ include('fiche_frais/_formLigneFraisHorsForfait.html.twig') }}
    </div>
    <div class="mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Libelle</th>
                <th>montant</th>
                <th>Date</th>
            </tr>
            </thead>
            {% for ligne in fichesFrais.ligneFraisHorsForfait %}
            <tbody>
                <tr>
                    <td>{{ ligne.libelle }}</td>
                    <td>{{ ligne.montant }}</td>
                    <td>{{ ligne.date | date('d-m-Y') }}</td>
                    <td><form method="post" action="{{ path('app_ligne_frais_hors_forfait_delete', {'id': ligne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne.id) }}">
                            <button class="btn btn-primary">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div class="row m-3">
    <a href="{{ path('app_fiche_frais_ListMois') }}"><button class="btn btn-primary">Retour</button></a>
</div>
{% endblock %}


