<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <h1><a href="#" class="logo">GSB-Frais</a></h1>
        <ul class="list-unstyled components mb-5">
            {% if is_granted('ROLE_USER') == null %}
            <li class="nav-item">
                <a href="{{ path('app_login') }}"><span class="fa fa-user mr-3"></span>Se Connecter</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a href="{{ path('app_list_users') }}"><span class="fa fa-home mr-3"></span> Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_saisie_fiche_frais') }}"><span class="fa fa-sticky-note mr-3"></span>Saisie Fichefrais</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_fiche_frais_ListMois') }}"><span class="fa fa-sticky-note mr-3"></span>Mes Fiches
                        Frais</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('app_fiche_frais_index') }}"><span class="fa fa-sticky-note mr-3"></span>Liste de Fichefrais</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}"><span class="fa fa-user mr-3"></span>Deconnexion</a>
                </li>
            {% endif %}
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        {% block body %}{% endblock %}
    </div>

</div>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/popper.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
