{% extends 'base.html.twig' %}

{% block title %}Hello LigneFraisForfaitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste Ligne Frais Forfait</h1>

    This friendly message is coming from:
    <ul>
{#        <li>Your controller at <code><a href="{{ 'C:/Symfony/GSB_Frais/src/Controller/LigneFraisForfaitController.php'|file_link(0) }}">src/Controller/LigneFraisForfaitController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/Symfony/GSB_Frais/templates/ligne_frais_forfait/index.html.twig'|file_link(0) }}">templates/ligne_frais_forfait/index.html.twig</a></code></li>#}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td scope="col">#</td>
                        <th scope="col">Quantite</th>
                    </tr>
                    </thead>
                    {% for lignefraisforfait in lignesfraisforfait %}

                        <tbody>
                        <tr>
                            <td>{{ lignefraisforfait.id }}</td>
                            <td>{{ lignefraisforfait.quantite }}</td>
                        </tr>
                        </tbody>
                        {{ dump(lignefraisforfait) }}
                    {% endfor %}
                </table>
        {% endif %}
    </ul>
</div>
{% endblock %}
